h1 {
	padding: 20px;
}
p {
	padding-left: 20px;
}
.imageWrapper {
	max-width: 1000px;
	height: auto;
	padding: 20px;
}
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

	border: 1px solid #ccc;
	float: left;
}

	.flip-container:hover .flipper,  
  .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 300px;
	height: 300px;
}

.flipper {
	-webkit-transition: 1.5s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 1.5s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 1.5s;
	-o-transform-style: preserve-3d;

	transition: 1.5s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.happy {

	background: url('images/robotsmall.jpg') 0 0 no-repeat;
	z-index: 2;
}
.wired {

	background: url('images/wiredBear.jpg') 0 0 no-repeat;
	z-index: 2;
}
.backWireless {
	background: url('images/wirelessBear.jpg') 0 0 no-repeat;
	position: absolute;
	
	width: 300px;
	height: 300px;
}
.rainy {

	background: url('images/bftotorotribute.jpg') 0 0 no-repeat;
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	background: #f8f8f8;
}

.front .name {
	font-size: 2em;
	display: inline-block;
	background: rgba(33, 33, 33, 0.9);
	color: #f8f8f8;
	font-family: Courier;
	padding: 5px 10px;
	border-radius: 5px;
	bottom: 60px;
	left: 25%;
	position: absolute;
	text-shadow: 0.1em 0.1em 0.05em #333;

	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.back-logo {
	position: absolute;
	top: 40px;
	left: 90px;
	width: 160px;
	height: 117px;
	/*background: url('images/robotsmall.jpg') 0 0 no-repeat;*/
}

.back-title {
	font-weight: bold;
	color: #00304a;
	position: absolute;
	top: 180px;
	left: 0;
	right: 0;
	text-align: center;
	text-shadow: 0.1em 0.1em 0.05em #acd7e5;
	font-family: Courier;
	font-size: 2em;
}

.back p {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0 20px;
  font-family: arial;
  line-height: 2em;
}